body {
  margin: 0;
  background-color: lightgray;
}

/****************   Nav Section **********************/
nav {
    background-color: lightgray;
    border: 5px solid black;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    background-color: white;
    text-decoration: underline;
}

/***********************  Footer Section   **************************/
footer {
    background-color: black;
    border: 3px ridge gray;
    display: flex;
    justify-content: center;
}

footer div {
    background-color: white;
}

footer a {
    color: white;
}

footer a:hover {
    background-color: red;
}

/*********** Splash Page ************************/
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkred;
    border: 6px dotted black;
    padding: 8px;
}

header h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    color: white;
}

header img {
    border: 3px solid black;
    border-radius: 10%;
}

.address {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: lightgray;
}

.tagline {
    display: flex;
    justify-content: center;
    padding: 10px;
    text-align: center;
    background-color: lightgray;
}

/************* Sections ********************/
hr {

}

.sections {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 1rem;
    padding: 20px;
    margin: 0 auto;
}

.section-card {
    display: grid;
    background-color: #ba8682;
    border: 3px solid black;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    justify-content: center;
    align-self: center;
    padding: 10px;
    width: 640px;
}

section h3 {
    display: flex;
    justify-content: center;
    font-family: "DM Serif Text", serif;
    font-weight: 600;  font-style: normal;
    color: black;
}

section dl {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    text-align: center;
}

section ul {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

section a {
    color: purple;
    text-decoration: none;
}

section a:hover {
    background-color: lightgray;
    text-decoration: underline;
}

/**************   Projects   *****************/
.three-col {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
}

.card img {
    justify-self: center;
}

.card h3 {
    text-align: center;
}

.card {
    display: grid;
    background-color: white;
    border: 3px solid black;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    justify-content: center;
}

.card:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}

/**************   Responsiveness   *****************/
@media (max-width: 680px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .three-col {
        grid-template-columns: 1fr;   /* one column */
        justify-items: center;
    }

    .section-card {
        width: 100%;
    }
}

/**************   Contact Page   *****************/
.one-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact_header {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    background-color: darkred;
}

input {
  
}

textarea {
    width: 100%;
    border: 1px solid black;
    border-radius: 6px;
}

.form {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
}